@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>This Project is made by Baris Celebi <a href="https://github.com/BarisClb">GitHub</a>, <a href="https://www.linkedin.com/in/celebi-baris/">LinkedIn</a>.</p>
