@{
    ViewData["Title"] = "Football Manager - Home";
}

<div class="text-center">
    <h1 class="display-4">Football Manager</h1>
    <p><a href="/Season/Standings">Team Standings</a></p>
    <p><a href="/Match/Fixture">Season Fixture</a></p>
    <p><a href="/Player/Standings">Player Stats</a></p>
    <p><a href="/Team/CreateTeam">Create Team</a></p>
</div>
